/.settings

/target

/bin

/.myeclipse
/.classpath
/.mymetadata

/.project
/classes/
/BudFramework.iml

/src/main/webapp/WEB-INF/classes/
/src/main/resources/database.properties

/.myumldata
/.idea/

/out/

/manageplatform.iml

/BudFramework.iml

/manageplatform.iml

