<?xml version="1.0" encoding="UTF-8"?>
  <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc ; 
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    <!-- 简化配置 
     1：自动注册DefaultAnnotationHandlerMapping,AnnotationNethodHandlerAdpter
         作用：基于注解的url映射和方法的适配
     2:提供一系列的:数据绑定，数字和日期的format，@numberformat，@datatimeforma等注解的支持
     xml，json的默认读写支持
    这里解决了问题：@rosponsbody注解返回jsp页面时list的json格式转化，树形菜单的形成
    -->

    
    <!-- 扫描Handler -->
    <context:component-scan base-package="cn.hz.finance.*.controller"/>
    
    <!-- 视图解析器，其实就是作逻辑视图与视图的映射    jsp路径 = prefix + handler返回字符 + suffix   -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

</beans>